.content {
     min-height:0px !important;
}
.alignCenter{
	text-align:center!important;
}

li.treeview.menu-open.active ul {
    border-left: 2px solid rgba(60, 141, 188, 0.6);
}

.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side{
	background-color: #ecf0f5;
}
.login-box, .register-box {
    width: 360px;
    margin: 7% 17vw;
}

.modal{
	z-index:9001;
}

.modal-backdrop.fade.in{
	z-index:9000;	
}