table{
	cursor: default;
}

li #logout { 
    cursor:pointer;
}

.content {
     min-height:0px !important;
}
.alignCenter{
	text-align:center!important;
}
.modalBlur {
    filter: blur(2px) !important;
    transform: scale(1.002);
    overflow: hidden;
}
li.treeview.menu-open.active ul {
    border-left: 2px solid rgba(60, 141, 188, 0.6);
}
.scheduleContent div {
    height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
    
}
.scheduleHeader, .scheduleContent {
    overflow: hidden;
    float: left;
    width: 100%;
}
.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side{
	background-color: #ecf0f5;
}
.login-box, .register-box {
    width: 360px;
    margin: 20% 17vw;
}
.scheduleDay {
    width: 18% !important;
    float: left;
    border:1px solid black;
}
.scheduleCell {
    float: left;
    width: 4.5% !important;
    border: 1px solid black;
    font-size:10px;
}
.scheduleHeader div{
	min-height:50px;
}
.scheduleDayBefore {
    width: 5%;
    float: left;
}
.modal{
	z-index:9001;
}
.action{
	cursor:pointer;
}
.modal-backdrop.fade.in{
	z-index:9000;	
}
select[multiple], select[size] {
    height: auto;
    width: 100%;
}
/*
.active >a >i:before {
    color: #3c8dbc;
}
*/
.modal-backdrop,.modal {
	transition:0.3s all linear !important;
}
*{
	transition:0.3s color linear !important;
}
.skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a,.skin-blue .sidebar-menu>li>.treeview-menu  {
	background: #222d32; 
}

.skin-blue .sidebar-menu>li>.treeview-menu,.skin-blue .sidebar-menu>li>.treeview-menu   {
    border-left: 5px solid #00bbd4;
    background-color: #151c1f;
    -webkit-box-shadow: inset 0px 0px 24px 0px rgba(47, 46, 46, 0.96);
    -moz-box-shadow: inset 0px 0px 24px 0px rgba(47, 46, 46, 0.96);
    box-shadow: inset 0px 0px 24px 0px rgba(47, 46, 46, 0.96);
}
.skin-blue .sidebar-menu>li>a {
    border-left: 5px solid transparent;
}
.sidebar-menu .action, .treeview > a {
    color: #9b9fa0;
}
 .treeview{
 transition:1s all linear !important;
 }
.treeview .action{
 transition:1.8s all linear !important;
 }
 .treeview.active .action{
 
 color:white;
 }
.selectTeacher{
	height: 34px;
    margin-bottom: 10px;
    margin-top:20px;
}

.treeview.active > a>i:before,.treeview:hover > a>i:before{
	color:#03a6bb;
}
.
.skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a {
	border-left-color: #00bbd4;
	background-color: #1f292d;
	box-shadow: 0 1px 6px 0 rgba(0,0,0,0.14), 0 1px 6px 0 rgba(0,0,0,0.14);
}
.none{
	display: none;
}

.yearHeader{
	cursor: default;
    color: white;
    margin: 15px;
    padding-top:7px;
}
.user-panel{
	background-color:rgba(96, 125, 139, 0.19);
}
.content-wrapper, .right-side {
    background-color: #ECF0F6;
}
.main-header > .wrapper{
	overflow-y:hidden !important;
}
.skin-blue .navbar{
	background: -webkit-linear-gradient(90deg, rgb(135, 190, 240), rgb(42, 177, 185));
    background: linear-gradient(90deg, rgb(135, 190, 240), rgb(42, 177, 185));
}
.text-green {
    color: #009688 !important;
}
.text-red {
    color: rgba(221, 75, 57, 0.91) !important;
}
.form-control[readonly]{
	background-color: rgba(0, 0, 0, 0.03);
    padding-left: 2px;
}
/*
a.btn.btn-app.action {
    transform: translatey(-48px);
    position: absolute;
    overflow: hidden;
    left: 30%;
    height: 47px;
}*/
h1{
	text-align:center;
}
body{
	overflow:visible !important;
	padding-right:0px !important;
}


*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;

	background-color: #F5F5F5 !important;
}

*::-webkit-scrollbar
{
	width: 12px !important;
	background-color: #F5F5F5 !important;
}

*::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3) !important;
	background-color: #555 !important;
}
 .skin-blue .sidebar-menu>li.active>a{
 background-color:#1c2529 !important;
 }
li.treeview:not(.active) {
    background-color: #0e1315;
}
li.treeview:not(.active) >a {
    color: #9b9fa0 !important;
}
li.treeview:not(.active):hover >a {
    color: white !important;
}
.sidebar-menu .treeview-menu>li>a {
    font-size: 12px;
    margin-left:20px;
}
 .skin-blue .sidebar-menu>li.active>a,.skin-blue .sidebar-menu>li:hover>a{
 border-left-color: #00bbd4;
 }
 
 
.content-header {
    position: relative;
    padding: 25px 15px 0 15px;
}
.content-header>.breadcrumb{
	top:20px;
}
 
.main-sidebar{
	    background-color: #0e1315 !important;
	
	
}

.divBorder{
	display: block;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid lightgrey;
}

#consultSchedule{
	cursor: pointer;
}